@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* TODO: ADD OVERFLOW ON PROJECT TASKS */
:root {
  font-size: 16px;
  font-family: "Inter", sans-serif;
 
  --base-color: #f8f9fa;
  --secondary-color: #e9ecef;
}

ul,
body {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

#global-container {
  background-color: var(--base-color);
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
}

#weather-form {
  display: flex;
  flex-flow: column;

  margin-top: 2rem;

  width: 95%;
  max-width: 30rem;
}

.form-container {
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: 0.6rem;
}

input#location-input {
  height: 2rem;
  border-radius: 0.8rem;
}

#submit-button {
  height: 2rem;
  border: 0.1rem solid grey;
  border-radius: 0.8rem;
}
.information-element {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 1rem;
}
#query-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  gap: 1rem;
}

.current-conditions {
  display: flex;
  gap: 1rem;
  text-align: center;
  flex-direction: column;

  grid-column: 1/4;
  grid-row: 2/3;
}

#current-conditions{
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--base-color);

}